@charset 'utf-8';
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700");
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding-top: 5.4em;
  background: #f2f2f2;
  background: radial-gradient(#f2f2f2, #eee);
  font-size: 14px;
  font-family: 'Open sans', 'Calibri', "arial", sans-serif;
}
.container,
header,
section {
  position: relative;
  max-width: 960px;
  margin: 0 auto;
}
.main {
  margin: 0 auto;
  max-width: 960px;
}
.main > section .container {
  margin: 0 auto;
  padding: 0;
}
section {
  display: none;
}
section.active {
  display: block;
}
header {
  height: 5.4em;
  position: fixed;
  z-index: 1;
  padding: 1em 1em;
  top: 0;
  left: 0;
  right: 0;
  margin-bottom: 0;
  background: #fff;
  border: 1px solid #ccc;
  border-top: 0;
}
header h1 {
  margin: 3px;
}
header nav ul {
  margin: 0;
  padding: 0;
  text-align: right;
  position: absolute;
  display: block;
  right: 20px;
  top: 20px;
}
header li {
  display: inline-block;
  margin-left: 10px;
}
header li a {
  display: block;
  padding: 0.4em 1em;
  background: #fff;
  color: #f15501;
  text-decoration: none;
  border: 1px solid #ddd;
  border-radius: 3px;
  transition: all 0.2s;
}
header li a:hover,
header li a:focus {
  background: #f15501;
  border: 1px solid #d84c01;
  color: #fff;
}
header li a:active {
  background: #ddd;
  border: 1px solid #ccc;
  color: #999;
}
header li a.active {
  cursor: default;
  background: #fff;
  border: 1px solid transparent;
  color: #f15501;
}
h1,
h3 {
  color: #f15501;
  font-weight: normal;
}
h1 a,
h3 a {
  text-decoration: none;
  color: #f15501;
}
h2 {
  color: #333;
  color: rgba(0,0,0,0.5);
  padding-left: 1em;
}
h3 {
  margin-top: 0;
}
.jumper {
  display: inline-block;
  position: relative;
  vertical-align: top;
  width: 100%;
  overflow: hidden;
  padding: 0.8em 1em;
  padding-bottom: 0.5em;
}
.repositories article {
  position: relative;
  padding-left: 42%;
  height: 3.4em;
  background: #fff;
  text-align: left;
  border-bottom: 1px solid #ffd4bd;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.repositories article:hover {
  height: 7em;
}
.repositories article:nth-child(odd) {
  background: #fff0e8;
}
.repositories article:nth-child(1) {
  border-top: 1px solid #ffd4bd;
}
.repositories.large article:hover {
  height: 12em;
}
.repositories h3 {
  position: absolute;
  left: 0.4em;
  top: 0.4em;
  margin: 0;
  padding: 0 0.5em;
  font-size: 1.5em;
}
.technologies {
  position: relative;
  clear: both;
  height: 6px;
  padding: 0;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 26px;
  border-radius: 3px;
  overflow: hidden;
  text-align: right;
  overflow: hidden;
  background: #555;
  opacity: 0.9;
}
.technologies li {
  display: inline-block;
  vertical-align: top;
  height: 100%;
  margin: 0;
}
.technologies li.javascript {
  background-color: #f15501;
}
.technologies li.css {
  background-color: #1f085e;
}
.download-link {
  display: inline-block;
  float: left;
  background: #fff;
  border: 1px solid #f15501;
  color: #f15501;
  text-decoration: none;
  font-size: 0.8em;
  padding: 0.3em 0.5em;
  margin: 0 10px 10px 0;
  border-radius: 3px;
  transition: all 0.1s;
}
.download-link:hover {
  background: #f15501;
  color: #fff;
  text-decoration: none;
}
.download-link:active,
.download-link:focus {
  box-shadow: inset 0 5px 20px rgba(0,0,0,0.1), inset 0 1px 0 rgba(0,0,0,0.1);
}
progress {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 6px;
  padding: 0;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 0;
  border-radius: 3px;
  overflow: hidden;
  text-align: right;
  overflow: hidden;
  background: #ccc;
}
progress::-webkit-progress-value {
  background-color: #f15501;
}
progress::-moz-progress-bar {
  background-color: #f15501;
}
progress::progress-bar {
  background-color: #f15501;
}
section.faces {
  background: #f15501;
  max-width: 100%;
  margin: 0;
  margin-top: 20px;
  padding: 2em;
  color: #fff;
  border-radius: 3px;
}
section.faces a {
  color: #fff;
}
.faces-list {
  margin: 0;
  padding: 20px;
  list-style: none;
}
.faces-list li {
  display: inline-block;
  vertical-align: top;
  width: 33.333333333333336%;
  margin-bottom: 20px;
  text-align: center;
}
.faces-list li .picture {
  background: #fff;
  width: 120px;
  height: 120px;
  vertical-align: middle;
  border-radius: 50%;
  overflow: hidden;
  margin: auto;
  margin-bottom: 20px;
}
.faces-list li .picture img {
  max-width: 120px;
}
.faces-list li .name {
  text-decoration: none;
}
@media (max-width: 1000px) {
  .fourth-block {
    width: 33.333333333333336%;
  }
}
@media (max-width: 800px) {
  body {
    padding-top: 7em;
  }
  header {
    height: 7em;
  }
  header h1 {
    text-align: center;
  }
  .repositories article {
    padding: 1em;
  }
  .repositories article h3 {
    position: static;
    margin-top: -0.2em;
    maring-bottom: 1em;
  }
  .repositories article:hover {
    height: 9em;
  }
  .repositories article.large:hover {
    height: 12em;
  }
  header nav {
    position: absolute;
    right: 0;
    left: 0;
    bottom: -1px;
  }
  header nav ul {
    position: static;
    text-align: center;
  }
  header nav ul li {
    display: inline-block;
  }
  header nav ul li a {
    background: none;
    border-bottom: 0;
    border-radius: 3px 3px 0 0;
  }
  header nav ul li a.active {
    background: none;
  }
  .faces-list li {
    width: 100%;
    margin-bottom: 2em;
  }
}
