@charset 'utf-8';
* {
  box-sizing: border-box;
}
body {
  background: #f2f2f2;
  background: radial-gradient(#f2f2f2, #eee);
  font-family: 'consolas', 'deja vu sans mono', "lucida grande", "verdana", "arial", sans-serif;
}
.main {
  max-width: 1200px;
  margin: 0 auto;
}
h1,
h3 {
  color: #eb581a;
  font-weight: normal;
}
.our-projects > article {
  display: inline-block;
  position: relative;
  vertical-align: top;
  width: 30%;
  margin-right: 2%;
  margin-bottom: 2%;
  padding: 1em;
  background: #fff;
  text-align: left;
  box-shadow: 0 1px 1px rgba(0,0,0,0.2);
  border-radius: 2px;
}
.our-projects > article h3 {
  position: absolute;
  margin: 0;
  background: rgba(255,255,255,0.8);
  padding: 0.2em 0.5em;
  font-size: 1.5em;
}
.our-projects > article h3:before {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  border: 0.3em solid rgba(0,0,0,0);
  border-right-color: #eb581a;
  border-top: 0;
}
.our-projects > article .picture {
  transition: all 0.2s;
  max-height: 80px;
  overflow: hidden;
}
.our-projects > article .picture img {
  width: 100%;
}
.our-projects > article .content {
  clear: both;
  max-height: 12em;
  overflow: hidden;
  position: relative;
  margin-bottom: 0;
  transition: all 0.2s;
}
.our-projects > article .content:after {
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 2em;
  background: linear-gradient(transparent, #fff);
  -webkit-transition: all 0.2s;
}
.download-link {
  display: inline-block;
  background: #fff;
  border: 1px solid #eb581a;
  color: #eb581a;
<<<<<<< HEAD
  text-decoration: none;
  font-size: 0.8em;
=======
  font-size: 0.9em;
>>>>>>> d991d509bde885c6755c5a3070c1ad7aebc270a9
  padding: 0.3em 0.5em;
  margin-bottom: 10px;
  border-radius: 3px;
}
.download-link:hover {
  background: #eb581a;
  color: #fff;
  text-decoration: none;
}
.download-link:active,
.download-link:focus {
  box-shadow: inset 0 5px 20px rgba(0,0,0,0.1), inset 0 1px 0 rgba(0,0,0,0.1);
}
.technologies {
  clear: both;
  height: 10px;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
  text-align: right;
  overflow: hidden;
  background: #555;
}
.technologies li {
  display: inline-block;
  vertical-align: top;
  height: 100%;
<<<<<<< HEAD
=======
  font-size: 0.8;
>>>>>>> d991d509bde885c6755c5a3070c1ad7aebc270a9
  margin: 0;
}
.technologies li.javascript {
  background-color: #f15501;
}
.technologies li.css {
  background-color: #1f085e;
}
