@charset 'utf-8'

javascript = #F15501
css = #1F085E
orange = javascript
headerHeight = 78px

* 
  -moz-box-sizing border-box
  -webkit-box-sizing border-box
  box-sizing border-box


body 
  margin 0
  padding-top headerHeight
  background #f2f2f2
  background radial-gradient(#F2F2F2,#eee)
  font-size 16px
  font-family 'consolas' , 'deja vu sans mono',"lucida grande", "verdana", "arial", sans-serif


.container, 
header,
section 
  position relative
  max-width 1600px
  margin 0 auto
  padding 1em
.main > section .container
  margin 0 auto
  padding 0

header
  height headerHeight
  position fixed
  z-index 1
  padding 1em 1em
  top 0
  left 0
  right 0
  margin-bottom 0
  background #fff
  border-bottom 1px solid #ccc
  h1
    margin 0
  nav 
    ul
      margin 0
      padding 0
      text-align right
      position absolute
      display block
      right 20px
      top 20px
  li 
    display inline-block
    margin-left 10px
    a
      display block
      padding 0.4em 1em
      background #fff 
      color orange
      text-decoration none
      border 1px solid #ddd
      border-radius 3px
      transition 0.1s
      &:hover,
      &:focus
        background orange
        border 1px solid darken(orange,5)
        color #fff
      &:active
        background #ddd
        border 1px solid #ccc
        color #999
  

h1, h3 
  color orange   
  font-weight normal
  a
    text-decoration none
    color orange 
h2
  color #333
  color rgba(0,0,0,0.5)
h3 
  margin-top 0

    
.fourth-block,
.third-block
  display inline-block
  position relative
  vertical-align top
  width (100/4)%
  margin-bottom 1px
  overflow hidden
  padding 1em
  padding-bottom 0.5em
.third-block
  width (100/3)%


.repositories article 
  background #fff
  text-align left
  box-shadow 0 1px 1px rgba(0, 0, 0, 0.2)
  border-radius 2px
  h3  
    position absolute
    margin 0
    background rgba(255, 255, 255, 0.8)
    padding 0.2em 0.5em
    font-size 1.5em
    &:before 
      content ''
      display block
      position absolute
      right 0
      top 0
      border 0.3em solid rgba(0, 0, 0, 0)
      border-right-color orange
      border-top 0  

  .picture 
    transition all 0.2s
    max-height 40px
    overflow hidden
    img 
      width 100%

  .content 
    clear both  
    max-height 12em
    overflow hidden
    position relative
    margin-bottom 0
    transition all 0.2s
    &:after
      display block
      position absolute
      right 0
      bottom 0
      left 0
      height 2em
      background linear-gradient(transparent, #fff)
      -webkit-transition all 0.2s

.download-link 
  display inline-block
  background #fff
  border 1px solid orange
  color orange
  text-decoration none
  font-size 0.8em
  padding 0.3em 0.5em
  margin-bottom 10px
  border-radius 3px
  transition all 0.1s
  &:hover 
    background orange
    color #fff
    text-decoration none
  &:active, &:focus 
    box-shadow inset 0 5px 20px rgba(0,0,0,0.1),  inset 0 1px 0 rgba(0,0,0,0.1)



.technologies 
  position relative
  clear both
  height 6px
  padding 0
  margin 0
  margin-top 6px
  margin-bottom 10px
  border-radius 3px
  overflow hidden
  text-align right
  overflow hidden
  background #555
  li
    display inline-block
    vertical-align top
    height 100%
    font-size 0.8
    margin 0
    &.javascript
      background-color javascript
    &.css
      background-color css
  &:after
    content ''
    position: absolute
    top 0
    left 0
    right 0
    bottom 0
    display block
    background linear-gradient(rgba(255,255,255,0.4), transparent)

progress
  -moz-appearance none
  -webkit-appearance none
  appearance none
  width 100%
  height 6px
  padding 0
  margin 0
  margin-top 6px
  margin-bottom 10px
  border 0
  border-radius 3px
  overflow hidden
  text-align right
  overflow hidden
  background #ccc
  &::-webkit-progress-value
    background-color orange
  &::-moz-progress-bar
    background-color orange
  &::progress-bar
    background-color orange
section.faces
  background orange
  max-width 100%
  margin 0
  color #fff
  a
    color #fff

face-size = 60px
.faces-list 
  margin 0
  padding 0
.faces-list > li
  .picture
    background #fff
    width face-size 
    height face-size
    display inline-block
    vertical-align middle
    border-radius 50%
    overflow hidden
    margin-right 1em
    img
      max-width face-size
  .name
    display inline-block
    font-size 1.2em
    text-decoration none

.project-list article
  background #fff
  text-align left
  box-shadow 0 1px 1px rgba(0, 0, 0, 0.2)
  border-radius 2px

.preview
  min-height 75px
  background #f2f2f2

@media (max-width: 1300px)
  .fourth-block
    width 20%
@media (max-width: 1024px)
  .fourth-block
    width 25%
@media (max-width: 1000px)
  .fourth-block
    width (100/3)%
@media (max-width: 800px)
  .fourth-block
    width 50%
@media (max-width: 600px)
  .fourth-block
    width 100%